*.cpp linguist-vendored
*.c linguist-vendored
*.h linguist-vendored
*.cmake linguist-vendored
CMakeLists.txt linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
linux/** linguist-vendored
web/** linguist-vendored
android/** linguist-vendored
ios/** linguist-vendored

lib/** linguist-language=Dart
